body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

section {
    width: 80%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top:15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5em;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;

}

p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6;
}
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:1em;
}

button:hover {
    background-color: #2980b9;
}
#addClothes {
}

.show {
    display: block;
}
.hidden {
    display:none;
}
fieldset {
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
legend {
    font-size: 1.5em;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
